
      .comment-block {
        padding: 2.4rem;
        background-color: rgb(240, 232, 232);
        display: flexbox;
        vertical-align: top;
        width: 450px;
        opacity: 0.7;
        box-shadow: 2px 5px 30px 10px rgb(46, 45, 45);
        border-radius: 10px;
  
    }
  
       .content {
        z-index: 1;
    }
       .content:after {
        content: '';
        position: absolute;
        top: -40px;
        left: -40px;
        right: -320px;
        bottom: 10px;
        background-image: url(../pictures/white.JPG);
        z-index: -1;
        filter: blur(100px); 
        -webkit-filter: blur(10px);
        -moz-filter: blur(100px);
        -ms-filter: blur(10px);
        -o-filter: blur(10px);
        border-radius: 10px;
    }

      .linking{
        text-decoration: none;
        color: rgb(140, 93, 179);
      }
  
      .comment-text {
        margin-bottom: 1.25rem;
        border-radius: 10px;
    }

      .bottom{
        background-color: aliceblue;
        margin-top: 10%;
        height: 90px;
      }
  
      textarea {
        resize: none;
    }
    
      body {
      color: #000;
      background: url(../pictures/black.JPG) fixed;
      background-size: 100%;
      background-repeat: no-repeat;
      font-family: "Helvetica Neue",Helvetica,Verdana,Arial,sans-serif;
      min-height: 101%;
      -webkit-font-smoothing: antialiased;
    }

    footer{
      text-align: right;
    }