---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!DOCTYPE html>
<html lang="en">

<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<style>
		main {
			width: 55%;
			max-width: 100%;
		}
        body {
            background-image: url("https://bingw.jasonzeng.dev?resolution=UHD");
            background-size: cover;
        }
    </style>
</head>

<body>
	<Header title={SITE_TITLE} />
	<main>
		<div style="position: relative;">
			<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.5); filter: blur(1px); border-radius: 10px;"></div>
			<main style="position: relative; z-index: 1;">
		<h1>My blog</h1>
		<p>
			<img src="https://avatars.githubusercontent.com/u/75521101?v=4" height="100px" width="100px"> <br>
			欢迎来到 Eq 的个人网站<br>
		<img src="https://wakatime.com/badge/user/90d4bbc2-a779-4bb1-a2a2-572e90fc4e29.svg" alt="Eq"> <br>
		</p>
				<h4>关于我</h4>
				一个无所事事的大四学牲 <br> <br>
				<h5>属性:</h5>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code> > A炮</code> <br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code> > JM </code> <br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code> > byr.pt </code> <br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code> > University of Science and Technology Beijing</code> <br>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code> > ⭕️ Arch/MacOS/Windows</code>
				<ul>
					<img src="https://github-readme-stats-git-masterrstaa-rickstaa.vercel.app/api?username=Equationzhao"/>
					<img src="https://github-profile-summary-cards.vercel.app/api/cards/profile-details?username=Equationzhao">
				</ul>
				<ul>
					<img src="https://byr.pt/mybar.php?userid=333414&bgpic=6"><br>
				</ul>
				<br>
				<p style="text-align:right"><strong> Powered by <a href="https://astro.build">Astro</a></strong></p>
			</main>
		</div>
	<Footer/>
</body>

</html>