---
import { Seo } from "astro-seo-meta";
import { ViewTransitions } from 'astro:transitions';
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<Seo
		title="Eq's Blog"
		description="Equationzhao blog site"
		keywords={["website", "blog", "astro"]}
		icon="/favicon.svg"
	/>
	<nav>
		<h2><a href="/" rel = prefetch-intent>{SITE_TITLE}</a>
			<em><br> &nbsp;好的方程列出来有<br>&nbsp;诗の美感</em>
		</h2>
		<ViewTransitions />
		<div class="internal-links">
			<HeaderLink href="/" rel = prefetch-intent>Home</HeaderLink>
			<HeaderLink href="/blog" rel = prefetch-intent>Posts</HeaderLink>
			<HeaderLink href="/about" rel = prefetch-intent>About</HeaderLink>
			<HeaderLink href=""https://rxresu.me/equationzhao/equationzhao" rel = prefetch-intent target={'_blank'}>Hire ME!</HeaderLink>
		</div>
		<div class="social-links">
			<a href="https://github.com/Equationzhao" target="_blank" rel = prefetch-intent>
				<span class="sr-only">Go to Eq's GitHub</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"><path fill="currentColor" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path></svg>
			</a>
			<a href="/rss.xml" target="_blank" rel = prefetch-intent>
				<span class="sr-only">RSS</span>
				<svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4209" width="32" height="32"><path d="M928 0H96C43.2 0 0 43.2 0 96v832c0 52.8 43.2 96 96 96h832c52.8 0 96-43.2 96-96V96c0-52.8-43.2-96-96-96zM279.008 831.2A86.72 86.72 0 0 1 192 744.608a87.04 87.04 0 0 1 174.016 0 86.72 86.72 0 0 1-87.008 86.592z m218.4 0.8a304.192 304.192 0 0 0-89.408-216.384 303.36 303.36 0 0 0-216-89.6v-125.184c237.6 0 431.2 193.408 431.2 431.2h-125.792z m222.208 0c0-291.008-236.608-528-527.392-528V178.816c360 0 652.992 293.184 652.992 653.216h-125.6z" ></path></svg>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
